body {
    background-color: white;
    font-family: sans-serif;
    margin: 0px;
}

.wrapper{
  min-width: 350px;
  padding: 0px 10px 10px 10px;
}

.header{

}

.footer{
  padding: 10px;
}

.footer p{
  float: right;
  color: #7A1313;
}
a:-webkit-any-link{
  text-decoration: none;
  color: black;
}

#logo{
  width: 40px;
  padding: 10px;
  float: left;
}

.header h1{
  padding: 23px 0px 0px 10px;
  font-size: 28px;
  margin: 0px;
}

#reload{
  float: right;
  background-color: #FF7502;
  background-image: '/reload.png';
  color: black;
  font-family: sans-serif;
  width: 38px;
  height: 38px;
  position: fixed;
  top: 17px;
  right: 17px;
  overflow: hidden;
  border-radius: 20px;
  padding: 0px;
}

#reload_icon{
  width: 25px;
  height: 25px;
}

#save{
  background-color: #FF7502;
  background-image: 'reload.png';
  color: white;
  width: 100%;
  height: 36px;
  font-size: 16px;
  font-family: sans-serif;
  border-radius: 5px;
}

#save:hover{
  background-color: #FF8927;
  background-image: 'reload.png';
  color: white;
  width: 100%;
  height: 36px;
  font-size: 16px;
  font-family: sans-serif;
  border-radius: 5px;
}

h1 {
    color: black;
}

h2 {
  color: black;
  -webkit-margin-after: 0px;
}

p{
  -webkit-margin-before: 0px;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: sans-serif;
}
